
.container {
    display: flex;
}

.container__item1{
    height: 100%;
    width: max-content;
    min-width: max-content;
}

.container__item2{
    height: 100%;
    position: center;
    text-align: center;
    margin: auto;
    padding-right: 15%;
    margin-top: 10px;
}

