.sidebar {
    grid-area: sidebar;
}

.content {
    grid-area: content;
}

.header {
    grid-area: header;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-areas:
    "header header header"
    "sidebar content ......."
    "footer  footer  footer";
    grid-template-columns: min-content 1fr 250px;
    background: linear-gradient(190deg, rgba(26, 77, 189, 0.29) 30%, rgba(255, 255, 0, 0.52) 90%);
}

.sidebar {
    height: 100%;
    width: max-content;
    min-width: max-content;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
    background: rgba(243, 230, 221, 0.95);
}

.sidebar_hide {
    visibility: visible;
    opacity: .8;
    display: flex;
    transition: visibility 0.5s, opacity 0.5s;

}

.content {
    height: 100%;
    width: min-content;
    position: center;
    text-align: center;
    min-height: calc(100vh - 145px);
    justify-content: center;
    text-align: -webkit-center;
    margin: auto;
}

.footer {
    background-color: #a9a9a95c;
    padding: 2rem;
    text-align: center;
}
