
.container {
    display: flex;
}

.container__navbar{
    height: 100%;
    width: max-content;
    min-width: max-content;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.container__navbar_hide {
    visibility:  visible;
    opacity: 1;
    display: flex;
    transition: visibility 0.5s, opacity 0.5s;

}

.container__appRouter{
    height: 100%;
    position: center;
    text-align: center;
    margin: auto;
    padding-right: 15%;
    margin-top: 10px;
}

